{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block header_title %}
	<h1>Connecte toi !</h1>
{% endblock %}

{% block body %}
    <form method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                Vous êtes connecté en tant que {{ app.user.username }}, <a href="{{ path('app_logout') }}">Déconnexion</a>
            </div>
        {% endif %}

        <div class="flex-wrap login-form">
            <label for="inputEmail">Email</label>
            <input type="email" value="{{ last_username }}" class="form-control" name="email" id="inputEmail" autocomplete="email" required autofocus>
            <label for="inputPassword">Mot de passe</label>
            <input type="password" class="form-control" name="password" id="inputPassword" autocomplete="current-password" required>
        </div>

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        <div class="flex-nowrap flex-end">
            <button class="button button-auth" type="submit">
                Connexion
            </button>
        </div>
    </form>
{% endblock %}
