{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block header_title %}
	<h1>Ajoute un utilisateur</h1>
{% endblock %}

{% block header_img %}<img class="slide-image slide-image--small" src="{{ asset('img/todolist_homepage.jpg') }}" alt="todo list">{% endblock %}

{% block body %}
    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.username) }}
        {{ form_row(registrationForm.password) }}
        {{ form_row(registrationForm.roles) }}

        <div class="flex-nowrap flex-end">
            <button type="submit" class="button button-add">Inscription</button>
        </div>
    {{ form_end(registrationForm) }}
{% endblock %}
