body,html {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

a, a:visited, a:hover {
    text-decoration: none;
}

section {
    position: relative;
    padding: 50px 20px 0 20px;
    width: 70%;
    height: 94vh;
    margin: 0 auto 0;
    background-color: rgb(223, 223, 223);
    overflow-y: scroll;
}

section h1 {
    margin: 20px 0;
}

section form {
    width: 40vw;
    margin: 0 auto;
}

.form-toggle {
    width: auto;
    height: auto;
    margin: 0;
}

footer {
    background-color: #fff;
    justify-content: center;
    align-self: flex-end;
    position: relative;
    bottom: 0;
    width: 100%;
    border-top: solid 1px #a1a1a1;
    padding: 1em;
    z-index: 3;
}

nav {
    position: fixed;
    width: 100%;
    background-color: #e3f2fd;
    justify-content: space-around;
    align-items: center;
    z-index: 1;
    padding: 0.5em;
}

nav h1{
    font-size: 1.5em;
    display: inline-block;
}

nav h1 a {
    color: rgb(99, 97, 97);
}

.flex-nowrap {
    display: flex;
    flex-flow: row nowrap;
}

.flex-wrap {
    display: flex;
    flex-flow: row wrap;
}

.flex-end {
    justify-content: flex-end;
    width: 100%;
}

.button {
    padding: 0.5em;
    border: 1px solid #fff;
    border-radius: 5px;
    color: #fff;
}

.button-auth {
    background-color: rgb(67, 135, 224);
}

.button-add {
    background-color: #198754;
}

.button-list {
    background-color: #6c757d;
}

.button-delete {
    background-color: #fc6363;
}

.section-content {
    margin-top: 1em;
    justify-content: space-around;
    height: 55%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.section-content:last-child {
    margin-bottom: 1em;
}

.slide-image {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 1em;
}

.slide-image--small {
    height: 35vh;
}

.task-action {
    justify-content: space-between;
    width: 50vw;
    margin: 65px auto 0;
    text-align: center;
}

.div-alert {
    color: #664d03;
    background-color: #fff3cd;
    border-color: #ffecb5;
    width: 100%;
    padding: 1em 5%;
    justify-content: space-between;
    align-items: baseline;
}

.task {
    background-color: #fff;
    z-index: 2;
    padding: 1em;
    margin-bottom: 1em;
    border-radius: 5px;
    width: 20vw;
    height: auto;
}

.task-edit {
    font-size: 1.5em;
    margin-left: 1em;
}

.task-content {
    height: 15vh;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-bottom: 10%;
}

.task-button {
    position: relative;
}

.form-control{
    margin-bottom: 0.8em;
}