{% extends 'base.html.twig' %}

{% block header_title %}
	<h1>Ajoute une tâche !</h1>
{% endblock %}

{% block body %}
		{{ form_start(form, {'action' : path('task_create')}) }}
		{{ form_widget(form) }}
		<div class="flex-nowrap flex-end">
			<a href="{{ path('task_list') }}" class="button button-list">Retour à la liste des tâches</a>
			<button type="submit" class="button button-add">Ajouter</button>
			{{ form_end(form) }}
		</div>
{% endblock %}
