{% extends 'base.html.twig' %}

{% block header_title %}
	<h1>Liste des tâches</h1>
{% endblock %}

{% block body %}
	{{ form_start(form, {'action' : path('task_edit', { 'id' : task.id })}) }}
	{{ form_widget(form) }}

	<div class="flex-nowrap flex-end">
		<button type="submit" class="btn btn-success pull-right">Modifier</button>
	</div>
	{{ form_end(form) }}
{% endblock %}

