{% extends 'base.html.twig' %}

{% block header_title %}
	<h1>Liste des tâches</h1>
{% endblock %}

{% block header_img %}<img class="slide-image" src="{{ asset('img/todolist_content.jpg') }}" alt="todo list">
{% endblock %}

{% block body %}
	<div class="flex-nowrap flex-end">
		<a href="{{ path('task_create') }}" class="button button-add">Créer une tâche</a>
	</div>
	<div class="flex-wrap section-content">
		{% for task in tasks %}
			<div class="task">
				<div class="flex-nowrap flex-end">
					<h4>
						{% if task.isDone %}
							<i class="fas fa-check"></i>
						{% else %}
							<i class="fas fa-times"></i>
						{% endif %}
					</h4>
				</div>
				<div>
					<div class="flex-nowrap">
						<h3>
							<p>{{ task.title }}</p>
						</h3>
						<a href="{{ path('task_edit', {'id' : task.id }) }}" class="task-edit" ><i class="fas fa-pencil-alt"></i></a>
					</div>
					<div class="task-content">
						<p>{{ task.content }}</p>
					</div>
				</div>
				<div class="flex-wrap flex-end task-button">
					{% if app.user %}
						{% if task.owner != null %}
							{% if task.owner.username == app.user.username %}
									<button type="submit" class="button button-delete delete" data-bs-toggle="modal" data-bs-target="#deleteModal" data-title="{{ task.title }}" data-id="{{ task.id }}">Supprimer</button>										
							{% endif %}
						{% else %}
							{% if "ROLE_ADMIN" in app.user.roles %}
								<button type="submit" class="button button-delete delete" data-bs-toggle="modal" data-bs-target="#deleteModal" data-title="{{ task.title }}" data-id="{{ task.id }}">Supprimer</button>
							{% endif %}
						{% endif %}				
					{% endif %}
					<form action="{{ path('task_toggle', {'id' : task.id }) }}" class="form-toggle">
						{% if not task.isDone %}
							<button class="button button-add">Marquer comme faite</button>
						{% else %}
							<button class="button button-auth">Marquer non terminée</button>
						{% endif %}
					</form>
				</div>
				{% if task.owner != null %}
					<p class="mb-0 mt-2">{{ task.owner.username }}</p>
				{% else %}
					<p class="mb-0 mt-2">Anonyme</p>
				{% endif %}
			</div>
		{% else %}
			<div class="div-alert flex-nowrap" role="alert">
				<p>Il n'y a pas encore de tâche enregistrée.</p>
				<p><i class="fas fa-exclamation-triangle fa-2x"></i></p>
			</div>
		{% endfor %}
	</div>

<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="deleteModalLabel">Supprimer</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<p>Etes-vous sûr de vouloir supprimer
					<span class="text-danger" id="name-delete"></span>
					?</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="button button-list" data-bs-dismiss="modal">Annuler</button>
				<a href="#" id="confirm-delete"><button type="button" class="button button-delete">Confirmer</button></a>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function () {
		$('.delete').click(function (e) {
			let id = $(this).data('id');
			let title = $(this).data('title');
			let url = "{{ path('task_delete', {'id': 'taskId' }) }}";
			url = url.replace("taskId", id);
			$('#name-delete').html(title);
			$('#confirm-delete').attr('href', url);
		})
	})
</script>

{% endblock %}

	