{% extends 'base.html.twig' %}

{% block header_title %}
	<h1>Liste des tâches terminées</h1>
{% endblock %}

{% block header_img %}<img class="slide-image" src="{{ asset('img/todolist_content.jpg') }}" alt="todo list">
{% endblock %}


{% block body %}
<div class="flex-nowrap flex-end">
	<a href="{{ path('task_list') }}" class="button button-list">Voir la liste des tâches</a>
</div>
<div class="flex-wrap section-content">
	{% for task in tasks %}
		<div class="task">
			<div class="flex-nowrap flex-end">
				<h4>
					<i class="fas fa-check"></i>
				</h4>
			</div>
			<div>
				<div class="flex-nowrap">
					<h3>
						<p>{{ task.title }}</p>
					</h3>
				</div>
				<div>
					<p>{{ task.content }}</p>
				</div>
			</div>
		</div>
	{% else %}
		<div class="div-alert flex-nowrap" role="alert">
			<p>Il n'y a pas encore de tâche terminée.</p>
			<p>
				<i class="fas fa-exclamation-triangle fa-2x"></i>
			</p>
		</div>
	{% endfor %}
</div>
{% endblock %}
