<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}To Do List app!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <link href="{{ asset('css/shop-homepage.css') }}" rel="stylesheet">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}

		<script src="https://kit.fontawesome.com/d8068975b7.js" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
		<script src="{{ asset('js/app.js') }}"></script>
    </head>

<body>
	<nav class="nav flex-nowrap" role="navigation">
		<header>
			<h1><a href="{{ path("homepage") }}">To Do List app</a></h1>
			<img src="{{ asset('img/Logo_OpenClassrooms.png') }}" alt="OpenClassrooms"/>
		</header>

		<div>
			{% if app.user and "ROLE_ADMIN" in app.user.roles %}
				<a href="{{ path("app_register") }}" class="button button-add">Créer un utilisateur</a>
				<a href="{{ path("user_list") }}" class="button button-list">Voir les utilisateurs</a>
			{% endif %}

			{% if not app.user and 'login' != app.request.attributes.get('_route') %}
				<a href="{{ path("app_login") }}" class="button button-auth">Se connecter</a>
			{% endif %}
			{% if app.user %}
				<a href="{{ path("app_logout") }}" class="button button-auth" id="btn-logout">Se déconnecter</a>
			{% endif %}
		</div>
	</nav>

	<!-- Page Content -->
	<section>
		{% for flash_message in app.session.flashBag.get('success') %}
			<div class="alert alert-success mt-3" role="alert">
				<strong>Superbe !</strong>
				{{ flash_message }}
			</div>
		{% endfor %}

		{% for flash_message in app.session.flashBag.get('error') %}
			<div class="alert alert-danger mt-3" role="alert">
				<strong>Oops !</strong>
				{{ flash_message }}
			</div>
		{% endfor %}
		{% block header_title %}{% endblock %}

		{% block header_img %}<img class="slide-image" src="{{ asset('img/todolist_homepage.jpg') }}" alt="todo list">{% endblock %}
		<br/>

		{% block body %}{% endblock %}
		</section>

		<footer class="flex-nowrap">
			<p>Copyright &copy; OpenClassrooms</p>
		</footer>
	</body>
</html>

