{% extends 'base.html.twig' %}

{% block header_title %}
	<h1>Bienvenue sur Todo List, l'application vous permettant de gérer l'ensemble de vos tâches sans effort !</h1>
{% endblock %}

{% block body %}
	{% if app.user %}
		<div class="task-action flex-nowrap">
			<a href="{{ path('task_create') }}" class="button button-add">Créer une nouvelle tâche</a>
			<a href="{{ path('task_list') }}" class="button button-auth">Consulter la liste des tâches à faire</a>
			<a href="{{ path('taskDone_list') }}" class="button button-list">Consulter la liste des tâches terminées</a>
		</div>
	{% endif %}
{% endblock %}

