{% extends 'base.html.twig' %}

{% block header_title %}
	<h1>Modifier
		<strong>{{ user.username }}</strong> ({{user.roles[0] == "ROLE_ADMIN" ? "Admin" : "Utilisateur"}})
	</h1>
{% endblock %}
{% block header_img %}{% endblock %}

{% block body %}
	<div class="row">
		{{ form_start(form, {'action' : path('user_edit', {'id' : user.id})}) }}
			{{ form_row(form.email) }}
			{{ form_row(form.username) }}
			{{ form_row(form.roles) }}

		<button type="submit" class="btn btn-success pull-right">Modifier</button>
		{{ form_end(form, {"render_rest" : false}) }}
	</div>
{% endblock %}
