{% extends 'base.html.twig' %}

{% block header_img %}{% endblock %}

{% block header_title %}
	<h1>Liste des utilisateurs</h1>
{% endblock %}

{% block body %}
	{% if users|length == 0 %}
		<div class="alert alert-warning" role="alert">
			Il n'y a pas encore d'utilisateur enregistré.
			<a href="{{ path('user_create') }}" class="btn btn-warning pull-right">Créer un utilisateur</a>
		</div>
	{% else %}
		<div class="row">
			<table class="table">
				<thead>
					<tr>
						<th>#</th>
						<th>Nom d'utilisateur</th>
						<th>Adresse d'utilisateur</th>
                        <th>Roles</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					{% for user in users %}
						<tr>
							<th scope="row">{{ loop.index }}</th>
							<td>{{ user.username }}</td>
							<td>{{ user.email }}</td>
                            <td>{{ user.roles[0] == "ROLE_ADMIN" ? "Admin" : "Utilisateur" }}</td>
							<td>
								<a href="{{ path('user_edit', {'id' : user.id}) }}" class="btn btn-success btn-sm">Edit</a>
								<a href="#" class="btn btn-danger btn-sm delete" data-bs-toggle="modal" data-bs-target="#deleteUserModal" data-name="{{ user.username }}" data-id="{{ user.id }}"><i class="fas fa-trash-alt"></i></a>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	{% endif %}

<div class="modal fade" id="deleteUserModal" tabindex="-1" aria-labelledby="deleteUserModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="deleteUserModalLabel">Supprimer</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<p>Etes-vous sûr de vouloir supprimer
					<span class="text-danger" id="name-delete"></span>
					?</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="button button-list" data-bs-dismiss="modal">Annuler</button>
				<a href="#" id="confirm-delete">
					<button type="button" class="button button-delete">Confirmer</button>
				</a>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function () {
		$('.delete').click(function (e) {
			let id = $(this).data('id');
			let title = $(this).data('name');
			let url = "{{ path('user_delete', {'id': 'userId' }) }}";
			url = url.replace("userId", id);
			$('#name-delete').html(title);
			$('#confirm-delete').attr('href', url);
		})
	})
</script>

{% endblock %}

